    $lg: 992px;
    $md: 768px;
    $sm: 576px;
    
    $font-size: 16px;
    $font-family: 'Roboto', sans-serif;

    $letter-spacing: 0.1em;

    $line-height: 1.64;
    $line-height-small: 1.4;

    $container-primary: 1110px;
    $container-secondary: 540px;

    $gap: 20px;
    $gap-small: calc($gap * 0.5);
    $gap-large: calc($gap * 1.5);
    $gap-big: calc($gap * 2);